<ng-container *ngIf="task.id!=0; else elseBlock">
    <h2> Update task information...</h2>
</ng-container>
<ng-template #elseBlock>
    <h2>Create a new task!</h2>
</ng-template>
<form action="" #taskForm="ngForm" (submit)="saveTaskData(taskForm)">
    <div class="mb-3">
        <label for="taskTitle" class="form-label">Title</label>
        <input [(ngModel)]="task.title" name="title" type="text" class="form-control" id="taskTitle" placeholder="Title of the task goes here!">
    </div>
    <div class="mb-3">
        <label for="selectTaskStatus">Assign a status to the task</label>
        <select [(ngModel)]="task.status" name="status" id="selectTaskStatus">
            <option [value]="status.id" *ngFor="let status of statusList;">{{status.label}}</option>
        </select>
    </div>
    <div class="mb-3">
        <div class="form-check form-check-inline" *ngFor="let priority of  priorityList" >
            <input [(ngModel)]="task.priority" class="form-check-input" type="radio" name="priority"[id]="'taskPriority'+priority.id" [value]="priority.id">
            <label class="form-check-label" [for]="'taskPriority'+priority.id">{{priority.label}}</label>
        </div>
        
    </div>
    <div class="mb-3">
        <label for="taskDescription" class="form-label">Describe the task</label>
        <textarea [(ngModel)]="task.description" name="description" class="form-control" id="taskDescription" rows="3"></textarea>
    </div>
</form>