<div class="p-5 m-4 bg-light rounded-3">
    <div class="container-fluid py-5 px-1">
        <h1 class="display-5 fw-bold">Ready to track your tasks?</h1>
        <p class="col-md-8 fs-4">Get Set Go! jump in and and get your all tasks created. Assign priorities, set status and increase productivity. Organize your tasks and quickly search any previous tasks. Keep a track of small tasks daily and enjoy the cool user intergface.</p>
        <button class="btn btn-primary btn-lg m-3" type="button" onclick="window.location.href='login'" >Login</button>
        <button class="btn btn-primary btn-lg m-3" onclick="alert('Work in progress')" type="button">Get in touch</button>
    </div>
</div>