<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">About Task-Tracker</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient text-white fs-2 mb-3">
                <i style="font-size: 2em; color: dodgerblue;" class="bi bi-shield-fill-check"></i>
                <i style="font-size: 2em; color: dodgerblue;"  class="bi bi-list-task"></i>
            </div>
            <h2>Task tracking</h2>
            <p>
                Helps you to track tasks by allowing you to create a task, update task, or delete tasks that are no longer needed. Save data and view anytime anywhere.
            </p>
            
        </div>
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient text-white fs-2 mb-3">
                <i style="font-size: 2em; color: dodgerblue;"  class="bi bi-clipboard-data-fill"></i>
            </div>
            <h2>Analytics</h2>
            <p>Get analytics of tasks. View status of tasks like completed or pending, check prority of tasks and bring in a good level of productivity. </p>
         
        </div>
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient text-white fs-2 mb-3">
                <i style="font-size: 2em; color: dodgerblue;"   class="bi bi-phone-fill"></i>
            </div>
            <h2>Easy to use</h2>
            <p>Enjoy cool bootstrap powered user interface. The user interface is responsive and hassel free to use</p>
        </div>
    </div>
</div>